@import url(https://fonts.googleapis.com/css2?family=Crimson+Pro);

body {
    font-family: 'Crimson Pro', serif;
    font-size:  22px;
}

nav {
    background-color: #f3f6f4;
    font-weight: bold;
    font-size: 20px;
}


.navbar-brand {
    font-size:34px;
}

#navbarlogo {
    background-color: #d9ead3;
}

.btn {
    min-width: 100px;
    background-color: #87b177;
    font-size: 20px;
    color: white;

}

.btn:hover {
    background-color: white;
    color: #87b177;
}

.dropdown-item {
    font-size: 18px;
}

.nav-item {
    border-radius: 5px;
}

.nav-item:hover {
    background-color: white;

}

/*Mostrar contenido dropdown on hover */
@media all and (min-width: 768px) {
    .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
}

.row {
    margin: 5px;
}

footer {
    background-color: #d9ead3;
    font-weight: bold;
    font-size: 22px;
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.py-3{
    padding-top: 0rem!important;
    padding-bottom: 0rem!important;
}

.descripcion-producto {
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
}

/*Conocenos*/

.cel{
    display: none;
}

#mision_vision{
    display: none;
    }

.imagen_conocenos {
    text-align: center;
    line-height: 350px;
}
#trabajadores {
    border-radius: 50%;
}

.efecto_nuestra_historia, #efecto_mision_vision{
    border-radius: 5px;
    border: 3px solid;
    border-color: black;
    background: #b4e391;
    background: -moz-linear-gradient(top, #b4e391 0%, #80e638 50%, #b4e391 100%);
    background: -webkit-linear-gradient(top, #b4e391 0%,#80e638 50%,#b4e391 100%);
    background: linear-gradient(to bottom, #b4e391 0%,#80e638 50%,#b4e391 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 );
    

}

#efecto_mision_vision:hover, .efecto_nuestra_historia:hover{
    border-radius: 5px;
    background: #99e261;
    background: -moz-linear-gradient(top, #99e261 0%, #7ce02a 9%, #56c103 51%, #7ce02a 92%, #87e241 100%);
    background: -webkit-linear-gradient(top, #99e261 0%,#7ce02a 9%,#56c103 51%,#7ce02a 92%,#87e241 100%);
    background: linear-gradient(to bottom, #99e261 0%,#7ce02a 9%,#56c103 51%,#7ce02a 92%,#87e241 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99e261', endColorstr='#87e241',GradientType=0 );
    transition-duration: 0.5s;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    #trabajadores, #adm{
        display: none;
    }
    .cel{
        display: block;
    }
    .pc{
        display: none;
    }
}