@import url(https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata);

*{
    margin: 10;
    padding: 0;
}

body {
    font-family: 'Crimson Pro', serif;
    font-size:  22px;

}

h2 {
    text-align: center;
}

label {
    font-size: 15px;
}


.row {
    margin: 5px;
}

.card {
    box-shadow: 0px 1px 10px rgba(0,0,0,.2);
    cursor: pointer;
    transition: all 400ms ease;
    background-color: #e6ece0;

}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-2%);
}

.card-title {
    text-align: center;
}

.barra-lateral{
    background-color: antiquewhite;
    animation-name: ejemplo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes ejemplo {
    from {background-color: antiquewhite;}
    to {background-color:aquamarine;}
  }

/*
header {
    position: sticky;
    width: 100%;
    top: 0;
}*/

nav, footer{
    background-color: #e6ece0;
    font-weight: bold;
    font-size: 20px;
}

footer {
    /*
    position: fixed;
    width: 100%;
    bottom: 0;
    */
    padding-left: 30px;
    padding-right: 30px;
}

.filtros {
    background-color: #e6ece0;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 15px;
    border-radius: 5px;
    /*min-width: 250px;*/

}

.barra-lateral {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

#filtros-productos-slides {
    padding: 5;
    margin-bottom: 0px;

}

.btn {
    min-width: 100px;
    background-color: #87b177;
    font-size: 20px;

}

.dropdown-item {
    font-size: 20px;
}


