/* Validaciones */

.formulario_input:focus{
    border: 3px solid #abf291;
    outline: none;
}

.error_formulario{
    font-size: 15px;
    color: red;
    display: none;
}

.formulario_validacion-estado{
    position: absolute;
    right: 15px;
    top: 25px;
    z-index: 100;
    opacity: 0;
}
 
.formulario_grupo_incorrecto .formulario_validacion-estado{
    opacity: 1;
}

.formulario_grupo_incorrecto .error_formulario{
    display: block;
}

.formulario_grupo_incorrecto .formulario_input{
    border: 3px solid red;
    border-radius: 5px;
}

.borde_error_simple{
    border: 3px solid red;
    border-radius: 5px;
}