@import url(https://fonts.googleapis.com/css2?family=Crimson+Pro);

body {
    font-family: 'Crimson Pro', serif;
    font-size:  23px;
    margin-bottom: 70px;
}

/* HEADER */

/* Fondo Logo Superior */

#navbarlogo {
    background-color: #d9ead3;
}

.vl {
    border-left: 4px solid white;
    height: 50px;
  }

/*Boton Mi Cuenta*/

.btn {
    min-width: 100px;
    background-color: #7FA78D;
    font-size: 20px;
    color: white;
    border: none;
}

.btn:hover {
    background-color: white;
    color: #7FA78D;
}

/* Carrito */

.badge:after{
        content:attr(value);
        font-size:17px;
        color: #fff;
        background: red;
        border-radius:50%;
        padding: 0 5px;
        position:relative;
        left:-8px;
        top:-12px;
        opacity:0.9;
    }

/*Menu desplegable*/

nav {
    background-color: #f3f6f4;
    font-weight: bold;
    font-size: 22px;
}

#navbarSupportedContent ul > li > a:hover {
    color: #558F67;
    background-color: white;
    border-radius: 5px;
}

button > svg:hover {
    color: #558F67;
}

.dropdown-item {
    font-size: 18px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0);
}

/*Mostrar contenido dropdown on hover */
@media all and (min-width: 768px) {
    .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
}

/* MAIN */

label {
    font-size: 17px;
}

.row {
    margin: 5px;
}

textarea {
    resize: none;
 }

/* FOOTER */

footer {
    background-color: #d9ead3;
    font-weight: bold;
    font-size: 22px;
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.py-3{
    padding-top: 0rem!important;
    padding-bottom: 0rem!important;
}