/* MAIN */

/* Seccion Producto */

.descripcion-producto {
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
}

/* Seccion Comentarios */

#div-comentarios {
    margin: 0px;
}

.mostrar-comentarios, .texto-titulo-comentar {
    width: 100%;
    font-size: 25px;
    margin: 0px;
    color: black;
}

.div-titulo-comentar {
    padding-bottom: 0px;
    font-size: 25px;
    margin-top: 9px;
}

#commentForm {
    padding: 15px;
}