{% extends 'webChacrita/base.html' %}

{% block contenido %}

  <div class="row"> <!-- ROW -->
    <!--FILTROS-->
    <div class="filtros col-md-auto">

      <div>
        <form class="d-flex">
          <input class="form-control mb-3 " type="search" placeholder="Buscar" aria-label="Buscar" id="busqueda" required>
        </form>
      </div>

      <div class="accordion mb-3" id="accordionExample">

        <!--CATEGORIAS-->
        <div class="accordion-item">
          <h2 class="accordion-header" id="encabezadocategorias">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Categorías
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="encabezadocategorias" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="semillas" checked>
                <label class="form-check-label" for="semillas">
                  Semillas
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="plantasflores" checked>
                <label class="form-check-label" for="plantasflores">
                  Plantas y flores
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="tierra" checked>
                <label class="form-check-label" for="tierra">
                  Tierra
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="maceteros" checked>
                <label class="form-check-label" for="maceteros">
                  Maceteros
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="herramientas" checked>
                <label class="form-check-label" for="herramientas">
                  Herramientas
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="accesorios" checked>
                <label class="form-check-label" for="accesorios">
                  Accesorios
                </label>
              </div>
            </div>
          </div>
        </div>

        <!--PRECIOS-->
        <div class="accordion-item">
          <h2 class="accordion-header" id="encabezadoprecios">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              Precios
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="encabezadoprecios" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioPrecios1" checked>
                <label class="form-check-label" for="flexRadioPrecios1">
                  Todos los precios
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioPrecios2">
                <label class="form-check-label" for="flexRadioPrecios2">
                  Hasta $5000
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioPrecios3">
                <label class="form-check-label" for="flexRadioPrecios3">
                  $5000 a $20000
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioPrecios4">
                <label class="form-check-label" for="flexRadioPrecios4">
                  $20000 a $50000
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioPrecios5">
                <label class="form-check-label" for="flexRadioPrecios5">
                  $50000 o más
                </label>
              </div>
            </div>
          </div>
        </div>

        <!--PUNTUACION-->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Puntuación
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
      
        <div class="custom-control custom-checkbox image-checkbox">
          <input type="checkbox" class="custom-control-input" id="unaestrella">
          <label class="custom-control-label" for="unaestrella">
            <img src="img/rating-stars/1.jpg" alt="#" class="img-fluid" width="130" height="23">
          </label>
        </div>
        
        <div class="custom-control custom-checkbox image-checkbox">
          <input type="checkbox" class="custom-control-input" id="dosestrellas">
          <label class="custom-control-label" for="dosestrellas">
            <img src="img/rating-stars/2.jpg" alt="#" class="img-fluid" width="130" height="23">
          </label>
        </div>

        <div class="custom-control custom-checkbox image-checkbox">
          <input type="checkbox" class="custom-control-input" id="tresestrellas">
          <label class="custom-control-label" for="tresestrellas">
            <img src="img/rating-stars/3.jpg" alt="#" class="img-fluid" width="130" height="23">
          </label>
        </div>
        
        <div class="custom-control custom-checkbox image-checkbox">
          <input type="checkbox" class="custom-control-input" id="cuatroestrellas">
          <label class="custom-control-label" for="cuatroestrellas">
            <img src="img/rating-stars/4.jpg" alt="#" class="img-fluid" width="130" height="23">
          </label>
        </div>
        
        <div class="custom-control custom-checkbox image-checkbox">
          <input type="checkbox" class="custom-control-input" id="cincoestrellas">
          <label class="custom-control-label" for="cincoestrellas">
            <img src="img/rating-stars/5.jpg" alt="#" class="img-fluid" width="130" height="23">
          </label>
        </div>
        
            </div>
          </div>
        </div>

      </div>

      <div id="contenedor">
        <div id="caja2">
          <p id="ubicacion" style="font-weight: bold; margin-bottom: 0px;"></p>
          <img id="icono-animado" src="" alt="" height="80" width="80">
        </div>
        <div id="caja1">
            <p id="temperatura-valor" style="font-weight: bold;"></p>
            <p id="temperatura-descripcion"></p>
        </div>
        <div id="caja3">
            <p>Veloc. del Viento</p>
            <p id="viento-velocidad"></p>
        </div>
      </div>
      
    </div>
    <!--TARJETAS-->
    <div class="tarjetas col-7 justify-content-md-center">
      <div class="row row-cols-1 row-cols-sm-auto row-cols-md-2 row-cols-lg-3 g-3">
        <div class="col">
          <div class="card text-dark mb-2">
            <a href="producto.html"><img src="./img/productos/alysum.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <p class="card-text">Lobularia</p>
                <p class="card-text" style="text-align:left;font-weight: bold;">$5.490</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-dark mb-2">
            <img src="./img/productos/anvilpruner.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Tijera Castellari</p>
                <p class="card-text" style="text-align:left;font-weight: bold;">$40.000</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-dark mb-2">
            <img src="./img/productos/baylaurel.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Bay Laurel</p>
                <p class="card-text" style="text-align:left;font-weight: bold;">$25.800</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-dark mb-2">
            <img src="./img/productos/cagered.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Jaula Soporte</p>
                <p class="card-text" style="text-align:left;font-weight: bold;">$20.490</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-dark mb-2">
            <img src="./img/productos/garden-hods.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Cesta Gardeners</p>
                <p class="card-text" style="text-align:left;font-weight: bold;">$30.790</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-dark mb-2">
            <img src="./img/productos/lavender.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Lavanda Azul</p>
                <p class="card-text" style="text-align:left;font-weight: bold;">$11.290</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-dark mb-2">
            <img src="./img/productos/marigold.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Marigold</p>
                <p class="card-text" style="text-align:left;font-weight: bold;">$8.350</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-dark mb-2">
            <img src="./img/productos/peachtree.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Arbol Durazno</p>
                <p class="card-text" style="text-align:left;font-weight: bold;">$29.900</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-dark mb-2">
            <img src="./img/productos/zinnia.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Semilla de Zinnia</p>
                <p class="card-text" style="text-align:left;font-weight: bold;">$9.500</h5>
            </div>
          </div>
        </div>
      </div><br>
    </div>
    <!--BARRA LATERAL-->
    <div class="barra-lateral">
      <!--CARRUSEL-->
      <div id="carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000" data-pause="hover">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a title="conocenos" href="./conocenos.html"><img src="./img/banner1.png" class="d-block" alt="Conocenos" width="20%" height="60%"></a>
          </div>
          <div class="carousel-item">
            <a title="donacion" href="./donaciones.html"><img src="./img/banner2.png" class="d-block" alt="Donaciones" width="20%" height="60%"></a>
          </div>
          <div class="carousel-item">
            <a title="contacto" href="./contacto.html"><img src="./img/banner3.png" class="d-block" alt="Contacto" width="20%" height="60%"></a>
          </div>
        </div>
      </div>
    </div>

  </div> 
  <!--Carrusel al pie de pagina-->
  <div class="row">
  <div class="barra-pie" style="width: 60%;height: 60%;">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000" data-pause="hover">
      
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a title="conocenos" href="./conocenos.html"><img src="./img/bottom1.png" class="d-block w-100" alt="Conocenos"></a>
        </div>
        <div class="carousel-item">
          <a title="donacion" href="./donaciones.html"><img src="./img/bottom2.png" class="d-block w-100" alt="Donaciones"></a>
        </div>
        <div class="carousel-item">
          <a title="contacto" href="./contacto.html"><img src="./img/bottom3.png" class="d-block w-100" alt="Contacto"></a>
        </div>
      </div>
    </div>
  </div>
  </div>

{% endblock %}