{% extends 'app/base.html' %}
{% load static %}

{% block titulo %}
<title>Carrito de Compra</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/listar.css'%}"/>
<link rel="stylesheet" href="{% static 'app/css/carrito.css'%}"/>
{% endblock %}

{% block js %}
<script>
    function eliminarProducto(id){
        Swal.fire({
            "title":"¿Estás seguro?",
            "text":"Mas tarde puedes volver a agregar el producto",
            "icon":"warning",
            "showCancelButton":true,
            "cancelButtonText": "No, cancelar",
            "confirmButtonText": "Si, eliminar",
            "reverseButtons":true,
            "confirmButtonColor":"#558F67",
            "cancelButtonColor":"#dc3545"
        })
        .then(function(result){
            if(result.isConfirmed){
                window.location.href="/eliminardecarrito/"+id+"/"
            }
        })
    }
</script>
{% endblock %}

{% block contenido %}
{% load crispy_forms_tags %}
{% load humanize %}

<main class="container table-responsive col-lg-9">
    <br>
    <h1 style="text-align:center;">Carrito</h1>
    <hr>
    {% if not carrito %}
        <h3 style="text-align:center;">No hay productos en el carrito :c</h3>
    {% else %}
        {% for c in carrito %}
            <div class="row cart-item">
                <div class="col-0 col-sm-1 col-lg-1 col-xl-2">
                </div>
                <div class="col-12 col-sm-10 col-lg-10 col-xl-8">
                    <div class="card">
                        <div class="card-header">
                            {{c.producto.nombre}}
                            <a class="float-end" href="#" onclick="eliminarProducto({{ c.id }})"><img src="{% static 'app/img/delete.png' %}" width="25" height="auto" title="Eliminar"></a>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <img src="{{ c.producto.imagen.url }}" class="img-fluid" alt="...">
                                </div>
                                <div class="col">
                                    <p class="card-title">Precio: ${{c.producto.precio | intcomma }}</p>
                                    <p class="card-text">Cant: {{c.cantidad}}</p>
                                </div>
                                <div class="col">
                                    <p class="card-text">Subtotal: ${{c.subtotal | intcomma }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-0 col-sm-1 col-lg-1 col-xl-2">
                </div>
            </div>
        {% endfor%}
        <br>
        <h3 style="text-align:center;">Total: ${{ total | intcomma }}</h3>
        <br>
    {% endif %}
</main>  
{% endblock %}