{% extends 'app/base.html' %}
{% load static %}

{% block titulo %}
<title>Pedidos</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/listar.css'%}"/>
{% endblock %}

{% block contenido %}
{% load crispy_forms_tags %}
{% load humanize %}

<main class="container table-responsive col-lg-6">
    <br>
    <h1>Historial Pedido: {{ pedido }}</h1>
    <table class="table table-striped table-hover align-middle mt-4" id="categorias" style="font-size:17px;">
        <thead>
            <tr>
                <th scope="col">ID Registro</th>
                <th scope="col">Estado Pedido</th>
                <th scope="col">Fecha Actualizaci&oacute;n</th>
            </tr>
        </thead>
        <tbody>
            {% for r in registros %}
            <tr>
                <td>{{r}}</td>
                <td>{{r.estado}}</td>
                <td>{{r.fecha}}</td>    
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-center my-3 me-2">
        <a href="{% url 'pedidos' %}"><button type="button" class="btn btn-primary" id="volver-btn">Volver</button></a>
    </div>
</main>  
{% endblock %}