{% extends 'app/base.html' %}

{% load static %}

{% block titulo %}
<title>La Chacrita</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/index.css'%}"/>
{% endblock %}

{% block js %}
<script src="{% static 'app/js/api.js' %}"></script> 
<script>

  function abrirProducto(id){
    window.location.href = "/producto/"+id+"/"
  }

</script>
{% endblock %}

{% block contenido %}
<div class="row">
  <!--FILTROS-->
  <div class="filtros col-md-auto">

    <div>
      <form class="d-flex">
        <input class="form-control mb-3 " type="search" placeholder="Buscar" aria-label="Buscar" id="busqueda" required>
      </form>
    </div>

    <div class="accordion mb-3" id="accordionExample">

      <!--CATEGORIAS-->
      <div class="accordion-item">
        <h2 class="accordion-header" id="encabezadocategorias">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Categorías
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="encabezadocategorias" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            
            {% for cat in categorias %}
              <div class="form-check">
                <input class="form-check-input" type="radio" name="categorias" value="{{cat.idCategoria}}" id="{{cat.nombreCategoria}}" onclick="">
                <label class="form-check-label" for="{{cat.nombreCategoria}}">
                  {{cat.nombreCategoria}}
                </label>
              </div>
            {% endfor %}

          </div>
        </div>
      </div>

      <!--PRECIOS-->
      <div class="accordion-item">
        <h2 class="accordion-header" id="encabezadoprecios">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            Precios
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="encabezadoprecios" data-bs-parent="#accordionExample">
          
          <div class="accordion-body">
            {% for pre in precios %}
              <div class="form-check">
                <input class="form-check-input" type="radio" name="precios" value="{{pre.id}}" id="{{pre.descripcion}}">
                <label class="form-check-label" for="{{pre.descripcion}}">
                  {{pre.descripcion}}
                </label>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <!--PUNTUACION-->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Puntuación
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
    
      <div class="custom-control custom-checkbox image-checkbox">
        <input type="checkbox" class="custom-control-input" id="unaestrella">
        <label class="custom-control-label" for="unaestrella">
          <img src="{% static 'app/img/rating-stars/1.jpg' %}" alt="#" class="img-fluid" width="130" height="23">
        </label>
      </div>
      
      <div class="custom-control custom-checkbox image-checkbox">
        <input type="checkbox" class="custom-control-input" id="dosestrellas">
        <label class="custom-control-label" for="dosestrellas">
          <img src="{% static 'app/img/rating-stars/2.jpg' %}" alt="#" class="img-fluid" width="130" height="23">
        </label>
      </div>

      <div class="custom-control custom-checkbox image-checkbox">
        <input type="checkbox" class="custom-control-input" id="tresestrellas">
        <label class="custom-control-label" for="tresestrellas">
          <img src="{% static 'app/img/rating-stars/3.jpg' %}" alt="#" class="img-fluid" width="130" height="23">
        </label>
      </div>
      
      <div class="custom-control custom-checkbox image-checkbox">
        <input type="checkbox" class="custom-control-input" id="cuatroestrellas">
        <label class="custom-control-label" for="cuatroestrellas">
          <img src="{% static 'app/img/rating-stars/4.jpg' %}" alt="#" class="img-fluid" width="130" height="23">
        </label>
      </div>
      
      <div class="custom-control custom-checkbox image-checkbox">
        <input type="checkbox" class="custom-control-input" id="cincoestrellas">
        <label class="custom-control-label" for="cincoestrellas">
          <img src="{% static 'app/img/rating-stars/5.jpg' %}" alt="#" class="img-fluid" width="130" height="23">
        </label>
      </div>
      
          </div>
        </div>
      </div>

    </div>

    <div id="contenedor">
      <div id="caja2">
        <p id="ubicacion" style="font-weight: bold; margin-bottom: 0px;"></p>
        <img id="icono-animado" src="" alt="" height="80" width="80">
      </div>
      <div id="caja1">
          <p id="temperatura-valor" style="font-weight: bold;"></p>
          <p id="temperatura-descripcion"></p>
      </div>
      <div id="caja3">
          <p>Veloc. del Viento</p>
          <p id="viento-velocidad"></p>
      </div>
    </div>
    
  </div>
  
  <!--TARJETAS-->
  {% load humanize %}
  <div class="tarjetas col-7 justify-content-md-center">
    <div class="row row-cols-1 row-cols-sm-auto row-cols-md-2 row-cols-lg-3 g-3">
      {% for p in productos %}
      <div class="col">
        <div class="card text-dark mb-2">
          <a href="#" onclick="abrirProducto({{p.id}})">
            {% if p.imagen %} 
            <img src="{{ p.imagen.url }}" class="card-img-top" alt="...">
            {% endif %}
          </a>
          <div class="card-body">
            <p class="card-text">{{ p.nombre | capfirst }}</p>   <!-- o tambien " | title " -->
              <p class="card-text" style="text-align:left;font-weight: bold;">${{ p.precio | intcomma }}</h5>
          </div>
        </div>
      </div>
      {% endfor %}
    </div><br>
  </div>

  <div>
    {% include 'app/paginator.html' %}
  </div>

  <!--BANER LATERAL-->
  <div class="barra-lateral">
    <!--CARRUSEL-->
    <div id="carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000" data-pause="hover">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a title="conocenos" href="{% url 'conocenos' %}"><img src="{% static 'app/img/banner1.png' %}" class="d-block" alt="Conocenos" width="20%" height="60%"></a>
        </div>
        <div class="carousel-item">
          <a title="donacion" href="{% url 'donaciones' %}"><img src="{% static 'app/img/banner2.png' %}" class="d-block" alt="Donaciones" width="20%" height="60%"></a>
        </div>
        <div class="carousel-item">
          <a title="contacto" href="{% url 'contacto' %}"><img src="{% static 'app/img/banner3.png' %}" class="d-block" alt="Contacto" width="20%" height="60%"></a>
        </div>
      </div>
    </div>
  </div>
</div> 
<div class="row">
<div class="barra-pie" style="width: 60%;height: 60%;">
  <div id="carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000" data-pause="hover">
    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a title="conocenos" href="{% url 'conocenos' %}"><img src="{% static 'app/img/bottom1.png' %}" class="d-block w-100" alt="Conocenos"></a>
      </div>
      <div class="carousel-item">
        <a title="donacion" href="{% url 'donaciones' %}"><img src="{% static 'app/img/bottom2.png' %}" class="d-block w-100" alt="Donaciones"></a>
      </div>
      <div class="carousel-item">
        <a title="contacto" href="{% url 'contacto' %}"><img src="{% static 'app/img/bottom3.png' %}" class="d-block w-100" alt="Contacto"></a>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}