{% extends 'app/base.html' %}
{% load static %}

{% block titulo %}
<title>Producto</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/producto.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'app/js/producto.js' %}"></script> 
<script>
  function eliminarCalificacion(id){
    Swal.fire({
        "title":"¿Estás seguro?",
        "text":"Puedes calificar el producto de nuevo.",
        "icon":"warning",
        "showCancelButton":true,
        "cancelButtonText": "No, cancelar",
        "confirmButtonText": "Si, eliminar",
        "reverseButtons":true,
        "confirmButtonColor":"#558F67",
        "cancelButtonColor":"#dc3545"
    })
    .then(function(result){
        if(result.isConfirmed){
            window.location.href="/eliminarcalificacion/"+id+"/"
        }
    })
  }
</script>
{% endblock %}

{% block contenido %}
{% load crispy_forms_tags %}
{% load humanize %}
<div class="container-fluid">
  <div class="row">
    <div class="fotos-producto col-12 col-md-6 col-lg-5">
      <div class="foto-producto text-dark m-2 p-2">
        <img src="{{ producto.imagen.url }}" class="card-img-top img-fluid" alt="...">
      </div>
    </div>
    <div class="container col-12 col-md-6 col-lg-7 mt-3">
      <h3 style="padding-top: 5px; font-weight: bold; color: #444444;">{{producto.nombre}}</h3>
      <div>
        {% if producto.puntuacion_avg == 1%}
            <img src="{% static 'app/img/rating-stars/1.jpg' %}" alt="" width="200" height="auto">
          {% elif producto.puntuacion_avg == 2%}
            <img src="{% static 'app/img/rating-stars/2.jpg' %}" alt="" width="200" height="auto">
          {% elif producto.puntuacion_avg == 3%}
            <img src="{% static 'app/img/rating-stars/3.jpg' %}" alt="" width="200" height="auto">
          {% elif producto.puntuacion_avg == 4%}
            <img src="{% static 'app/img/rating-stars/4.jpg' %}" alt="" width="200" height="auto">
          {% elif producto.puntuacion_avg == 5%}
            <img src="{% static 'app/img/rating-stars/5.jpg' %}" alt="" width="200" height="auto">
        {% endif %}</h5>
      </div>
      <hr>
      <h4>Descripción:</h4>
      <p class="descripcion-producto">{{producto.descripcion}}</p>
      <h3>${{producto.precio | intcomma }}</h3>
      {% if producto.stock > 0 %}
        <h4 style="color: green;">Disponible: <p class="stock">{{producto.stock}}<p></h4>
      {% else %}
        <h4 style="color: red;">No disponible</h4>
      {% endif %}
      <form class="form-group" id="anadiralcarrito" method="POST" action="">
        {% if user.is_authenticated %}
          {% csrf_token %}
          {{ carritoForm | crispy }}
          <br>
          <button type="submit" class="btn btn-primary mt-1" id="anadir-btn">Añadir al carrito</button>
        {% else %}
          <button type="submit" class="btn btn-secondary mt-1" id="anadir-btn" disabled>Añadir al carrito</button>
          <br><br>
          <p style="font-size:18px">(Inicia sesi&oacute;n para añadir al carrito)</p>
        {% endif %}
      </form>
    </div>
  </div>
</div>
<hr>

{% if calificaciones or user.is_authenticated %} 
  <div class="d-grid gap-2 col text-center">
    <button type="button" class="btn bg-light btn-lg text-dark mostrar-comentarios" id="btn-toggle">Mostrar/Ocultar Calificaciones</button>
  </div>
{% endif %}

<div class="container-fluid comentarios" id="div-comentarios">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-7 mt-4">

          {% for c in calificaciones %}
            <div class="card">
              <div class="card-header">
                {% if c.usuario.first_name %}
                  {{c.usuario.first_name}} {{c.usuario.last_name}}
                {% else %}
                  {{c.usuario}}
                {% endif %}
                {% if user.id == c.usuario.id %}
                <a class="float-end" href="#" onclick="eliminarCalificacion({{ c.id }})"><img src="{% static 'app/img/delete.png' %}" width="25" height="auto" title="Eliminar"></a>
                {% endif %}
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  {% if c.puntuacion == 1%}
                    <img src="{% static 'app/img/rating-stars/1.jpg' %}" alt="" width="120" height="auto">
                  {% elif c.puntuacion == 2%}
                    <img src="{% static 'app/img/rating-stars/2.jpg' %}" alt="" width="120" height="auto">
                  {% elif c.puntuacion == 3%}
                    <img src="{% static 'app/img/rating-stars/3.jpg' %}" alt="" width="120" height="auto">
                  {% elif c.puntuacion == 4%}
                    <img src="{% static 'app/img/rating-stars/4.jpg' %}" alt="" width="120" height="auto">
                  {% elif c.puntuacion == 5%}
                    <img src="{% static 'app/img/rating-stars/5.jpg' %}" alt="" width="120" height="auto">
                  {% endif %}</h5>
                <p class="card-text">{{c.comentario}}</p>
              </div>
            </div>
            &nbsp;
          {% endfor%}
          
    </div>

      <div class="col-12 col-md-6 col-lg-5" style="text-align:center;">
        {% if user.is_authenticated %} 
        <div class="card bg-light mt-4">
          <form class="form-group" id="commentForm" method="POST" action="">
            <div class="card-body">
              <div class="card-title">
                Calificar Producto
              </div>
                {% csrf_token %}
                {{ form | crispy }}
              </div>
              <div class="d-flex justify-content-end me-3">
                <button type="reset" class="btn btn-primary mt-1" id="limpiar-btn">Limpiar</button>
                &nbsp;
                <button type="submit" class="btn btn-primary mt-1" id="enviar-btn">Enviar</button>
              </div>
          </form>
        </div>
        {% else %}
        <p style="padding-top:10%;font-size:18px;">(Inicia sesi&oacute;n para calificar este producto)</p>
      {% endif %}
      </div>

  </div>
</div>
{% endblock %}