{% extends 'app/base.html' %}
{% load static %}

{% block titulo %}
<title>Clientes</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/listar.css'%}"/>
{% endblock %}

{% block contenido %}
{% load crispy_forms_tags %}
{% load humanize %}

<main class="container table-responsive col-lg-8">
    <br>
    <h1>Clientes</h1>
    <table class="table table-striped table-hover align-middle mt-4" id="categorias" style="font-size:17px;">
        <thead>
            <tr>
                <th scope="col">Usuario</th>
                <th scope="col">Nombre(s)</th>
                <th scope="col">Apellido(s)</th>
                <th scope="col">Email</th>
                <th scope="col">Fecha Registro</th>
            </tr>
        </thead>
            {% for c in clientes %}
            <tr>
                <td>{{c.username}}</td>
                <td>{{c.first_name | title | truncatewords:1 }}</td>
                <td>{{c.last_name | title | truncatewords:1 }}</td>
                <td>{{c.email}}</td>
                <td>{{c.date_joined |date:"d M Y"}}</td>
            </tr>
            {% endfor%}
    </table>
</main>  
{% endblock %}