{% extends 'app/base.html' %}
{% load static %}

{% block titulo %}
<title>Listar Productos</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/formularios.css' %}">
<link rel="stylesheet" href="{% static 'app/css/validaciones.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'app/js/validaciones.js' %}"></script>

<script>
    function eliminarProducto(id){
        Swal.fire({
            "title":"¿Estás seguro?",
            "text":"Esta acción no se puede deshacer",
            "icon":"warning",
            "showCancelButton":true,
            "cancelButtonText": "No, cancelar",
            "confirmButtonText": "Si, eliminar",
            "reverseButtons":true,
            "confirmButtonColor":"#558F67",
            "cancelButtonColor":"#dc3545"
        })
        .then(function(result){
            if(result.isConfirmed){
                window.location.href="/eliminar/"+id+"/"
            }
        })
    }
</script>
{% endblock %}

{% block contenido %}
{% load crispy_forms_tags %}
<main class="container">
        <table class="table table-bordered mt-4" id="categorias">
            <thead class="table-success">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Calificacion</th>
                    <th scope="col">Modificar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
                {% for p in productos %}
                <tr>
                    <td>{{p.nombre}}</td>
                    <td>{{p.categoria}}</td>
                    <td>{{p.precio}}</td>
                    <td>{{p.puntuacionProm}}</td>
                    <td><a href="{% url 'modificar_producto' p.id %}">Modificar</a></td>
                    <td><a href="#" onclick="eliminarProducto({{ p.id }})">Eliminar</a></td>
                </tr>
                {% endfor%}
        </table>
        
    <div>
        {% include 'app/paginator.html' %}
    </div>

</main>  
{% endblock %}