{% extends 'app/base.html' %}
{% load static %}

{% block titulo %}
<title>Modificar Producto</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/formularios.css' %}">
<link rel="stylesheet" href="{% static 'app/css/validaciones.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'app/js/validaciones.js' %}"></script>
{% endblock %}

{% block contenido %}
{% load crispy_forms_tags %}
<main class="container">
        <table class="table mt-4" id="categorias">
            <thead class="table-success">
                <tr>
                    <th scope="col">Nombre Producto</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Precio</th>
                    <th scope="col" style="text-align:center;">Acci&oacute;n</th>
                </tr>
            </thead>
                {% for p in productos %}
                <tr>
                    <td>{{p.nombre}}</td>
                    <td>{{p.categoria}}</td>
                    <td>{{p.precio}}</td>
                    <td style="text-align:center;"><a href="#"><img src="{% static 'app/img/crayon.png' %}" width="30" height="auto" title="Editar"></a>&nbsp;&nbsp;
                    <a href="#"><img src="{% static 'app/img/delete.png' %}" width="30" height="auto" title="Eliminar"></a></td>
                </tr>
                {% endfor%}
        </table>
        
    <div>
        {% include 'app/snippets/paginator2.html' %}
    </div>

</main>  
{% endblock %}