{% extends 'app/baselogin.html' %}

{% block titulo %}
<title>Registro de usuario</title>
{% endblock %}

{% block contenido %}
    {% load crispy_forms_tags %}
        <br>
        <div class="d-flex justify-content-center row">
            <div class="col-xs-12 col-sm-10 col-md-9 col-lg-7">
                <div class="card">
                    <div class="card-body">
                        <h2>Registro de usuario</h2>
                        <hr>
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <div class="d-flex justify-content-end me-2 mt-3 mb-2">
                                <input type="submit" value="Registrarse" class="btn btn-success float-right">
                            </div>
                            <a href="{% url 'index' %}">Ir al inicio</a> | 
                            <a href="{% url 'inicio_sesion' %}">Iniciar Sesion</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock contenido %}