{% extends 'app/base.html' %}
{% load static %}

{% block titulo %}
<title>Modificar Producto</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/formularios.css' %}">
<link rel="stylesheet" href="{% static 'app/css/validaciones.css' %}">
<link rel="stylesheet" href="{% static 'app/css/agregar.css' %}">
{% endblock %}

{% block js %}
<script>
    function back(){
        window.location.href="/productos/"
    }
</script>
{% endblock %}

{% block contenido %}
{% load crispy_forms_tags %}
<main class="container" id="contacto">
    <div class="row g-4">
        <div class="col" id="donativos">
            <h1>Modificar producto:</h1>
            <h2 class="mt-3" style="color: #444444;">{{ producto.nombre }}</h2>
            {% if producto.imagen %}
            <img class="m-2" src="{{ producto.imagen.url }}" alt="" width="400" height="auto">
            {% else %}
            <p>[producto sin imagen]</p>
            {% endif %}
            <br>
            <p>Asegurate de solo cambiar la informaci&oacute;n necesaria.</p>
        </div>
        <div class="col-12 col-lg-5 ">
            <form action="" method="POST" enctype="multipart/form-data" name="formulario" id="formulario">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-flex justify-content-end me-2 my-3">
                    <button type="button" class="btn boton-custom-secondary" id="cancelar" onclick="back()">Volver</button>
                    &nbsp;
                    <button type="submit" class="btn boton-custom-primary" id="enviar">Modificar</button>
                </div>
            </form>
        </div>
    </div><br>
</main>  
{% endblock %}