{% extends 'app/base.html' %}
{% load static %}

{% block titulo %}
<title>Conocenos</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/conocenos.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'app/js/conocenos.js' %}"></script>
{% endblock %}

{% block contenido %}
<main class="container">
<div id="nuestra-historia">
  <div class="row">
    <div class="col col-12 col-md-6 col-lg-6">
      <img class="img-fluid historia-img mt-1" src="{% static 'app/img/gardener-1.png' %}">
    </div>
    <div class="col col-12 col-md-6 col-lg-6">
      <div id="conocenos-texto">
        <h1>Nuestra historia</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, numquam explicabo? Dolore illo nesciunt odit fugit. Dolorum natus eum iure quas sapiente perspiciatis esse enim sunt impedit velit, inventore optio!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, numquam explicabo? Dolore illo nesciunt odit fugit. Dolorum natus eum iure quas sapiente perspiciatis esse enim sunt impedit velit, inventore optio!</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="d-grid gap-2 col text-center">
      <button type="button" class="btn btn-lg btn-mision">Ver misi&oacute;n y visi&oacute;n</button>
    </div>
  </div>
</div>
<div id="mision-vision">
  <div class="row">
    <div class="col col-12 col-md-6 col-lg-6">
      <div id="conocenos-texto">
        <h1>Misi&oacute;n</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, numquam explicabo? Dolore illo nesciunt odit fugit. Dolorum natus eum iure quas sapiente perspiciatis esse enim sunt impedit velit, inventore optio!</p>
        <h1>Visi&oacute;n</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, numquam explicabo? Dolore illo nesciunt odit fugit. Dolorum natus eum iure quas sapiente perspiciatis esse enim sunt impedit velit, inventore optio!</p>
      </div>
    </div>
    <div class="col col-12 col-md-6 col-lg-6">
      <img class="img-fluid mision-img mt-1" src="{% static 'app/img/gardener-2.png' %}">
    </div>
  </div>
  <div class="row">
    <div class="d-grid gap-2 col text-center">
      <button class="btn btn-lg btn-historia">Ver nuestra historia</button>
    </div>
  </div>
</div>
</main>
{% endblock %}