{% load static %}
{% if paginator.num_pages > 1%}
    <div class="d-flex justify-content-center">
        <div class="pagination pagination-lg">
            {% if suscripciones.has_previous %}        
                <a class="container" href="?page={{suscripciones.previous_page_number}}#pagtable">
                    <img src="{% static 'app/img/previous.png' %}" alt="" width="50" height="auto">
                </a>&nbsp;
            {% else %}
                <div class="container" href="#">
                    <img src="{% static 'app/img/previous2.png' %}" alt="" width="50" height="auto">
                </div>&nbsp;
            {% endif %}
            <div style="min-width:100px; text-align:center; font-size: 30px;">{{ suscripciones.number }} de {{ paginator.num_pages }}</div>&nbsp;
            {% if suscripciones.has_next %}
                <a class="container" href="?page={{suscripciones.next_page_number}}#pagtable">
                    <img src="{% static 'app/img/next.png' %}" alt="" width="50" height="auto">
                </a>&nbsp;
            {% else %}
                <div class="container" href="#">
                    <img src="{% static 'app/img/next2.png' %}" alt="" width="50" height="auto">
                </div>&nbsp;
            {% endif %}
        </div>
    </div>
{% endif %}