/* MAIN */

#mision-vision, #nuestra-historia{
    margin-top: 10px;
    border: 0px;
    border-radius: 10px;
    background: linear-gradient(to bottom,  #eaf1e8 50%,#ffffff 100%);
}

#conocenos-texto {
    font-size: 0.8em;
}

.mision-img, .historia-img {
    text-align: center;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.btn-mision, .btn-historia {
    min-width: 100px;
    background-color: #a5a5a5;
    font-size: 20px;
    color: white;
    border: none;
}

.btn-mision:hover, .btn-historia:hover {
    background-color: white;
    color: #7FA78D;
    font-weight: bold;
}