{% extends 'app/base.html' %}
{% load static %}

{% block titulo %}
<title>Suscripciones</title>
{% endblock %}

{% block js %}
<script>
    function eliminarSuscripcion(id){
        Swal.fire({
            "title":"¿Estás seguro?",
            "text":"Esta acción no se puede deshacer",
            "icon":"warning",
            "showCancelButton":true,
            "cancelButtonText": "No, cancelar",
            "confirmButtonText": "Si, eliminar",
            "reverseButtons":true,
            "confirmButtonColor":"#558F67",
            "cancelButtonColor":"#dc3545"
        })
        .then(function(result){
            if(result.isConfirmed){
                window.location.href="/cancelarsuscripcion/"+id+"/"
            }
        })
    }
</script>
{% endblock %}

{% block contenido %}
{% load crispy_forms_tags %}
{% load humanize %}

<main class="container table-responsive col-lg-9">
    <br>
    <h1>Suscripciones</h1>
    <table class="table table-striped table-hover align-middle mt-4" id="categorias" style="font-size:20px;">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Fecha</th>
                <th scope="col">Tel&eacute;fono</th>
                <th scope="col">Suscripci&oacute;n</th>
                <th scope="col">Informe</th>
                <th scope="col" style="text-align:center;min-width:100px;">Acci&oacute;n</th>
            </tr>
        </thead>
        <tbody>
            {% for su in suscripciones %}
            <tr>
                <td>{{su.id}}</td>
                <td>{{su.nombre}}</td>
                <td>{{su.correo}}</td>
                <td>{{su.fecha}}</td>
                <td>{{su.telefono}}</td>
                <td>        
                    {% if su.tipo_suscripcion == 1 %}
                        Basica
                    {% elif su.tipo_suscripcion == 2 %}
                        Estandar
                    {% elif su.tipo_suscripcion == 3 %}
                        Premium
                    {% endif %}
                </td>
                <td> 
                    {% if su.recibe_informe == True %}
                        Si
                    {% elif su.recibe_informe == False %}
                        No
                    {% endif %}
                </td>
                <td style="text-align:center;">
                    <a href="{% url 'modificar_suscripcion' su.id %}"><img src="{% static 'app/img/crayon.png' %}" width="30" height="auto" title="Editar"></a>
                    &nbsp;
                    <a href="#" onclick="eliminarSuscripcion({{ su.id }})"><img src="{% static 'app/img/delete.png' %}" width="30" height="auto" title="Eliminar"></a>
                </td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
</main>  
<div>
    {% include 'app/snippets/paginator3.html' %}
</div>
{% endblock %}