{% extends 'app/base.html' %}
{% load static %}

{% block titulo %}
<title>Suscripciones</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/listar_subs.css'%}"/>
{% endblock css %}

{% block js %}
<script src="{% static 'app/js/suscripciones.js' %}"></script> 
<script>
    function eliminarSuscripcion(id){
        Swal.fire({
            "title":"¿Estás seguro?",
            "text":"Esta acción no se puede deshacer",
            "icon":"warning",
            "showCancelButton":true,
            "cancelButtonText": "No, cancelar",
            "confirmButtonText": "Si, eliminar",
            "reverseButtons":true,
            "confirmButtonColor":"#558F67",
            "cancelButtonColor":"#dc3545"
        })
        .then(function(result){
            if(result.isConfirmed){
                window.location.href="/cancelarsuscripcion/"+id+"/"
            }
        })
    }
</script>
{% endblock %}

{% block contenido %}
{% load crispy_forms_tags %}
{% load humanize %}

<main class="container table-responsive col-lg-9">
    <br>
    <h1>Suscripciones</h1>
    <table class="table table-striped table-hover align-middle mt-4" id="categorias" style="font-size:20px;">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Suscriptor</th>
                <th scope="col">Fecha</th>
                <th scope="col">Suscripci&oacute;n</th>
                <th scope="col">Estado</th>
                <th scope="col" style="text-align:center;min-width:100px;">Acci&oacute;n</th>
            </tr>
        </thead>

        <tbody>
            {% for su in suscripciones %}
                <tr>
                    <td>{{su.id}}</td>
                    <td>{{su.suscriptor}}</td>
                    <td>{{su.fecha}}</td>
                    <td>        
                        {% if su.tipo_suscripcion == 1 %}
                            Basica
                        {% elif su.tipo_suscripcion == 2 %}
                            Estandar
                        {% elif su.tipo_suscripcion == 3 %}
                            Premium
                        {% endif %}
                    </td>

                    {% if su.estado == True %}
                        <td id="activa"><a href="{% url 'estado_suscripcion' su.id %}">Activa</a></td>
                    {% elif su.estado == False %}
                        <td id="inactiva"><a href="{% url 'estado_suscripcion' su.id %}">Inactiva</a></td>
                    {% endif %}
                    
                    <td style="text-align:center;">
                        <a href="{% url 'modificar_suscripcion' su.id %}"><img src="{% static 'app/img/crayon.png' %}" width="30" height="auto" title="Editar"></a>
                        &nbsp;
                        <a href="#" onclick="eliminarSuscripcion({{ su.id }})"><img src="{% static 'app/img/delete.png' %}" width="30" height="auto" title="Eliminar"></a>
                    </td>
                </tr>
            {% endfor%}
        </tbody>         
    </table>
</main>  
<div>
    {% include 'app/snippets/paginator3.html' %}
</div>
{% endblock %}